body  {
	background: rgba(177, 222, 38, 0.52);
}

.main {
	width: 1000px;
	background: white;
	margin: auto;
	padding-bottom: 30px;
	padding-top: 30px;
}

table {
	margin: auto;
}

table.firstTable {
    border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
	border-spacing: 3px;
	margin-bottom: 30px;
}

.firstTable td, th {
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	border-left: 1px solid black;
	border-top: 1px solid black;
	padding: 5px 10px 3px 10px;
}

.theadFirst {
	background-color: #EADADA;
}

table.secondTable {
    border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
	border-spacing: 3px;
	width: 650px;
	margin-bottom: 30px;
}

.secondTable td, th {
    border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	border-left: 1px solid black;
	border-top: 1px solid black;
	padding: 5px 10px 3px 10px;
}

.theadSecond {
	background-color: #C3FDE0;
}

.theadLeft {
	background-color: rgba(248, 251, 63, 0.45);
}

.thirdTable td, th {
	border-bottom: 1px solid lightgray;
	border-right: 1px solid lightgray;
	border-left: 1px solid black;
	border-top: 1px solid black;
	padding: 5px 10px 3px 10px;
}

table.thirdTable {
    border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-left: 3px solid lightgray;
	border-top: 3px solid lightgray;
	border-spacing: 0px;
	width: 650px;
}

.theadThird {
	background: blanchedalmond;
}

